[color]
  diff = auto
  status = auto
  branch = auto

[alias]
  br = branch -v
  co = checkout
  ci = commit
  di = diff
  st = status
  # Show the commits in this branch
  showbr = log -U git-svn..
  # Change the HEAD commit message to the template and edit
  amd = !git commit --amend -eF `git config commit.template`
  # Safe remove all branches reachable from HEAD.  Good way to GC old branches after dcommit/rebase
  gcbr = !git branch --no-abbrev -v --no-color | sed 's/[ *]*//' | cut -d' ' -f1 | xargs -n1 git branch -d &> /dev/null
  # Spellcheck your commit message
  aspell = !git log --pretty=format:%s%n%n%b -n1 > /tmp/aspell.txt && aspell -c /tmp/aspell.txt && git commit --amend -F /tmp/aspell.txt

[svn]
  followparent = true

# Dear god, please change these if you borrow my gitconfig
[user]
#  name  = Replace with your name
#  email = Replace with your email

# Show a log of '56 minutes ago' rather than 'November 12, 2008 12:34:53'
[log]
  date = relative

# Use only for black background terminal
[color "branch"]
  current = yellow reverse
  local = yellow 
  remote = green
[color "diff"]
  plain = white
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red blink
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
