[include]
  # Includes need git 1.7.10 to work. Replace this with
  # a [user] section if you don't have a up-to-date version
  path = ~/.gitidentity

[color]
  diff = auto
  status = auto
  branch = auto

[alias]
  br = branch -v
  co = checkout
  ci = commit
  di = diff
  st = status
  # Show the commits and content in this branch
  showbr = log --pretty=oneline trunk..
  showallbr = log -U trunk ..
  # Change the HEAD commit message to the template and edit
  amd = !git commit --amend -eF `git config commit.template`
  # Spellcheck your commit message
  aspell = !git log --pretty=format:%s%n%n%b -n1 > /tmp/aspell.txt && aspell -c /tmp/aspell.txt && git commit --amend -F /tmp/aspell.txt
  # Commit changes to current head as amended commit
  plus = commit --amend -a -C HEAD
  # Commit changes on *top* of current head as a checkpoint commit
  cp = commit -am 'nit: checkpoint commit'
  # Grep with color and line numbers
  gr = grep --color -n
  # Colorized git blame
  bl = !colorize_git_blame_pipe.sh $@
  # Search javascript for a variable/function definition
  jsdef = !sh -c 'git grep -e "function\\\\W+$1\\\\W" --or -e "function\\\\W*/\\\\*.*\\\\*/\\\\W*$1\\\\W" --or -e "\\\\W$1\\\\W*[=:]" -- *.js' -

[svn]
  followparent = true

# Show a log of '56 minutes ago' rather than 'November 12, 2008 12:34:53'
[log]
  date = relative

[push]
  default = tracking

# Use only for black background terminal
[color "branch"]
  current = yellow reverse
  local = yellow 
  remote = green
[color "diff"]
  plain = white
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red blink
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

# Use the .gitignore file to have a global git ignore for things like the ./.idea
# directory
[core]
  excludesfile = ~/.gitignore
